<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-025-dashboard"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/index">Dashboard Light</a></li>
                    <li><a href="/index-2">Dashboard Dark</a></li>
                </ul>
            </li>
            <li><a href="/order-detail" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-050-info"></i>
                    <span class="nav-text">Order Details</span>
                </a>
            </li>
            <li><a href="/order-list" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-086-star"></i>
                    <span class="nav-text">Order List</span>
                </a>
            </li>
            <li><a href="/analytics" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-041-graph"></i>
                    <span class="nav-text">Analytics</span>
                </a>
            </li>
            <li><a href="/review" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-013-checkmark"></i>
                    <span class="nav-text">Reviews</span>
                </a>
            </li>
            <li><a href="/customer-list" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-038-gauge"></i>
                    <span class="nav-text">Customers</span>
                </a>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-007-bulleye"></i>
                    <span class="nav-text">CMS</span>
                    <span class="badge badge-sm badge-danger ms-3">New</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/content">Content</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/email-template">Email Template</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </li>
        </ul>

        <div class="copyright">
            <p><strong>Rubber Duck Pizzeria</strong> © 2026</p>
            <p class="fs-12 mb-1">Made by the <strong>RubberDuck Team</strong></p>
            <p class="fs-12 mb-0">Demo project to test RubberDuck’s 10 MCP use cases</p>
        </div>
    </div>
</div>
